 <!doctype HTML>
<html>
  <head>  <title> DEFENSE </title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScrip/t -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel = "stylesheet" type = "text/css"  href= "css/style.css">



  </head>

  <body>
<<<<<<< HEAD



   <h1> DEFENSE </h1>
    <form method = post>

      <input type = "Submit" value = "Submit">

    </form>
=======
   
    
    
>>>>>>> 7b4d5deab0c70d52970f7efc32e48e9772c3c1a4
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
<<<<<<< HEAD

=======
                <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
>>>>>>> 7b4d5deab0c70d52970f7efc32e48e9772c3c1a4
                <li>
                    <a id=button href="/business_list">Business List</a>
                </li>
                <li>
                    <a id=button href="#">Review a Business</a>
                </li>
                <li>
                    <a id=button href="#">Stereotype Buster</a>
                </li>
                <li>
                    <a id=button href="#">Resources</a>
                </li>
            </ul>
        </div>


<!--   <h2>  Squacoon Sighting Report Form </h2>
  <form method = "post">
    <label for "name"> Name </label> <input type = "text" name = "name">
   <br>
    <label for "contact"> Contact </label>
    <input type = "email" name = "contact">
    <br>
    <label for "date"> Date </label> <br> <input type = "date" name = "date">
    <br>
    <label for "emotion"> Emotional Response </label><br>
    <select name = "emotion">
      <option class = "label" value = "panic"> Panic </option>
      <option class = "label" value = "cute" > Awww </option>
      <option class = "label"i value = "Noble"> Awed Respect </otpion>
    </select>
  <br>
    <input type = "submit" value = "Submit">

  </form>
  <img width = "250" height = "180" src = "http://bekat.yolasite.com/resources/squacoon.JPG.opt378x275o0,0s378x275.JPG"
  > </body> -->
<<<<<<< HEAD

=======
    </div>
    
       <h1> DEFENSE </h1>
>>>>>>> 7b4d5deab0c70d52970f7efc32e48e9772c3c1a4
  </body>
</html>
