<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Search Keyword</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel = "stylesheet" type = "text/css"  href= "css/style.css">

 </head>

<body>
<form name="myform" action="/respond" method="POST">
<div align="center">
<select name="mydropdown">
<option value="Racist">Racial</option>
<option value="Sexist">Gender-Based</option>
<option value="Homophobic">Anti-Queer</option>
  <option value="Classist">Classist</option>
  <option value="Ableist">Disability</option>
  <option value="Islamophobic">Anti-Faith</option>
  </select>
                                <input type="text" name="location" placeholder="Enter City..." required>
<br><input type="submit" value="Search"><br>
</div>

</form>


  </body>
</html>



