<html>
<head>
<title>My Page</title>
</head>
<body>
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<select name="mydropdown">
<option value="Racial">Racial</option>
<option value="Gender-Based">Gender-Based</option>
<option value="Bread">Anti-Queer</option>
  <option value="Classist">Classist</option>
  <option value="Disability">Disability</option>
  <option value="Anti-Faith">Anti-Faith</option>
</select>
</div>
</form>
</body>
</html>
<html>
<head>
<title>My Page</title>
</head>
<body>
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<br><br>
<input type="text" size="25" value="Enter your name here!">
<br><input type="submit" value="Send me your name!"><br>
</div>
</form>
</body>
</html>